<b>Call Bill</b><p>
{% if call_list %}
	<table width=1050 border=yes style=border-spacing:0>
		<tr height=30>
		<td width=50><b>Id</b></td>
        <td width=250><b>Start</b></td>
        <td width=250><b>End</b></td>
        <td width=100><b>Source</b></td>
        <td width=100><b>Destination</b></td>
        <td width=200><b>Duration</b></td>
        <td width=150><b>Price</b></td>
        </tr>
        {{ calls|safe }}
    </table>
{% else %}
    <b>No call entries found on the database.</b>
{% endif %}
	<p>
	<table><tr><td width=650 align=center>
	    <form method="get" action="{% url 'call_bill' %}">
		Phone (99999999999): <input name=phone type=text maxlength=11 value="{{request.GET.phone}}">
		Period (mm/yy): <input name=period type=text  maxlength=5 value="{{request.GET.period}}" style=width:80px><p>
		<input type=submit value="Filter" style=width:120px>
		<input type=button value="Call List" style=width:120px onclick=location.href="{% url "call_list" %}">
	    </form>
    </td></tr></table>
